################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test.py
/IRB Docs of collaborating centers.pkl
/IRB Docs of collaborating centers_log.txt
/OFC Collaborating Sites' Current & Prior Site IRB Appr ltrs & consents_log.txt
/Here 2.pkl
/Here 2_log.txt
/OFC Collaborating Sites' Current & Prior Site IRB Appr ltrs & consents.pkl
