################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test.py
*.pyproj
/.vs/DetectFileUpdates/v15
*.pkl
/IRB Documents_log.txt
__pycache__/